@import "tailwindcss";
@import "@nuxt/ui";

@theme {
	--font-sans: "Mulish", sans-serif;
	--font-serif: "Gloock", serif;
	--font-mono: "JetBrains Mono", monospace;
	--font-header: "Staatliches", sans-serif;
	--font-script: "Sacramento", cursive;
	--font-outline: "Monoton", cursive;

	/* Fontes decorativas e script */
	--font-script-1: "Pacifico", cursive;
	--font-script-2: "Dancing Script", cursive;
	--font-script-3: "Great Vibes", cursive;
	--font-script-4: "Satisfy", cursive;
	--font-script-5: "Marck Script", cursive;
	--font-script-6: "Allura", cursive;
	--font-script-7: "Kalam", cursive;
	--font-script-8: "Homemade Apple", cursive;
	--font-script-9: "Gloria Hallelujah", cursive;
	--font-script-10: "Parisienne", cursive;

	/* Fontes com estilo contornado/outline */
	--font-outline-1: "Monoton", cursive;
	--font-outline-2: "Zen Tokyo Zoo", cursive;
	--font-outline-3: "Raleway Dots", sans-serif;
	--font-outline-4: "Unica One", sans-serif;
	--font-outline-5: "Rubik Moonrocks", cursive;

	--font-body-1: "Inter", sans-serif; /* moderna, legível, versátil */
	--font-body-2: "Open Sans", sans-serif; /* neutra e confiável */
	--font-body-3: "Work Sans", sans-serif; /* leve e fluida para leitura */
	--font-body-4: "IBM Plex Sans", sans-serif; /* profissional e balanceada */
	--font-body-5: "Source Sans Pro", sans-serif; /* ótima para textos longos */
}
