@import "tailwindcss";
@import "@nuxt/ui";

@theme {
	--font-sans: "Mulish", sans-serif;
	--font-serif: "Gloock", serif;
	--font-mono: "JetBrains Mono", monospace;
	--font-header: "Staatliches", sans-serif;
	--font-script: "Sacramento", cursive;
	--font-outline: "Monoton", cursive;
}
